<template id="tutorial">

            <h1>Como empezar</h1>
            <p>
                En el menu busca: Empezar <br>
                Al hacer click en el botón ya estaras dentro del juego en la entrada.
            </p>

            <h2>Mapa del juego</h2>
            <p>
                Para moverte por el juego debes de introducir hacia donde deseas moverte en la consola del jugador <br>
                Las direcciones aparecen en la parte superior de la pantalla justo por debajo del nombre de la sala.
                <br>
                Caso quieras moverte y no puedas te toparas con un aviso diciendo que no puedes ir a esa dirección.
            </p>

            <h2>Tienda</h2>

            <p>Puedes gastar el oro en la tienda puedes adquirir pociones para restaurar la vida en los combates o fuera
                de ellos
                <br>Puedes conseguir oro o buscando en las diferentes salas o derrotando monstruos.
                <br>También podras comprar armas mas fuerte en la tienda y tambien vender las que no estés usando.
            </p>

            <h2>Combate</h2>
            <p>Los combates son despiadados, en cuanto entres en la vista del enemigo, este se lanzará sobre ti, ten
                cuidado
                para no toparte con monstruos muy fuertes al principio ya que estos te mataran casi al instante!
                <br>
                Una vez logres derrotar a algun monstruo este te dará oro y una probabilidad de drop de algun item.
                Caso no lo quieras usar este estará en tu inventario y lo podras vender en la tienda y conseguir más
                oro!
            </p>
</template>